h1{ color: red;
    text-align: center;  
 }
 
 h2{ color:grey;
    text-align: left;  
 }
 
 p{color :black;
   text-align: left;
 }
 
 body{background-color:  white;
     }
 .highlight1 {
   color: #ff6600; /* Orange vif */
 }
 
 .highlight2 {background-color: skyblue
  .image-container {
    display: flex;         /* Active le modèle Flexbox */
    justify-content: center; /* Centre les enfants horizontalement */
    align-items: center;   /* Centre les enfants verticalement (facultatif si nécessaire) */
  }
  
  .center-img {
    display: block; /* Optionnel, mais utile pour s'assurer que l'image suit les règles */
  }
  