h1{ color: red;
    text-align: center;  
 }
 
 h2{ color:grey;
    text-align: left;  
 }
 
 p{color :black;
   text-align: left;
 }
 
 body{background-color:  white;
     }
 .highlight1 {
   color: #ff6600; /* Orange vif */
 }
 
 .highlight2 {background-color: skyblue

  /* Sections */
  section {
    padding: 20px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
  }
  
  section h2 {
    font-family: 'Merriweather', serif;
    color: #1e90ff;
    margin-bottom: 10px;
  }
  
  section p {
    text-align: justify;
    margin-bottom: 15px;
  }
  
  /* Images */
  .image-container img, .featured-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .caption {
    font-size: 0.9rem;
    color: #555;
    text-align: center;
  }