h1{ color: red;
    text-align: center;  
 }
 
 h2{ color:grey;
    text-align: left;  
 }
 
 p{color :black;
   text-align: left;
 }
 
 body{background-color:  white;
     }
 .highlight1 {
   color: #ff6600; /* Orange vif */
 }
 
 .highlight2 {background-color: skyblue
 
 